.elementor-1071 .elementor-element.elementor-element-c024af6,
.elementor-1071 .elementor-element.elementor-element-c024af6>.elementor-background-overlay {
    border-radius: 0px 20px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c025212>.elementor-element-populated,
.elementor-1071 .elementor-element.elementor-element-c025212>.elementor-element-populated>.elementor-background-overlay,
.elementor-1071 .elementor-element.elementor-element-c025212>.elementor-background-slideshow {
    border-radius: 0px 0px 0px 50px;
}

.elementor-1071 .elementor-element.elementor-element-c025212>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c0257f7>.elementor-widget-container {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c025d89,
.elementor-1071 .elementor-element.elementor-element-c025d89>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c025d89 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 40px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c025d89>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c027053 .consulting-custom-title {
    font-size: 30px;
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c0275e3 {
    text-align: justify;
    font-size: 15px;
    line-height: 28px;
}

.elementor-1071 .elementor-element.elementor-element-c0275e3>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c029295 {
    text-align: left;
}

.elementor-1071 .elementor-element.elementor-element-c02a3b3:not(.elementor-motion-effects-element-type-background),
.elementor-1071 .elementor-element.elementor-element-c02a3b3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F9FF;
}

.elementor-1071 .elementor-element.elementor-element-c02a3b3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px 30px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c02a3b3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c02b475 .consulting-custom-title {
    font-size: 30px;
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c02b8d0,
.elementor-1071 .elementor-element.elementor-element-c02b8d0>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c02b8d0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 15px 40px 15px;
}

.elementor-1071 .elementor-element.elementor-element-c02b8d0>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c02e26d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c0366b3:not(.elementor-motion-effects-element-type-background),
.elementor-1071 .elementor-element.elementor-element-c0366b3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2B4B7A;
    background-image: url("https://cvdemo.in/aikya/wp-content/uploads/2024/04/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1071 .elementor-element.elementor-element-c0366b3,
.elementor-1071 .elementor-element.elementor-element-c0366b3>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c0366b3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 30px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c0366b3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c037697 .consulting-custom-title {
    font-size: 30px;
    color: #ffffff;
}

.elementor-1071 .elementor-element.elementor-element-c037697>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c037ae4 {
    padding: 40px 0px 40px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c034634:not(.elementor-motion-effects-element-type-background),
.elementor-1071 .elementor-element.elementor-element-c034634>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://cvdemo.in/aikya/wp-content/uploads/2024/04/wave-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.elementor-1071 .elementor-element.elementor-element-c034634,
.elementor-1071 .elementor-element.elementor-element-c034634>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c034634 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c034634>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c0353bb .consulting-custom-title {
    font-size: 30px;
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c043cc3:not(.elementor-motion-effects-element-type-background),
.elementor-1071 .elementor-element.elementor-element-c043cc3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E4E4E4;
}

.elementor-1071 .elementor-element.elementor-element-c043cc3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 40px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c043cc3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c044884 .consulting-custom-title {
    font-size: 30px;
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_1 .testimonial .info h4 {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_2 .testimonial-info .testimonial-text .name {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_3 .testimonial .testimonial_inner .info h6 {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_4 .testimonial .testimonial_inner .info h6 {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_5 .testimonial .testimonial_inner .info h6 {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_6 .item .testimonial-info .testimonial-text .name {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_7 .item .testimonial-info .testimonial-text .name {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_8 .item .testimonial-info .testimonial-text .name {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_9 .testimonial .testimonial-inner .testimonial-info .testimonial-bottom .name {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_1 .testimonial .info .company {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_2 .testimonial-info .testimonial-text .company {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_3 .testimonial .testimonial_inner .info .position {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_4 .testimonial .testimonial_inner .info .position {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_5 .testimonial .testimonial_inner .info .position {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_6 .item .testimonial-info .testimonial-text .company {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_7 .item .testimonial-info .testimonial-text .company {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_8 .item .testimonial-info .testimonial-text .company {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a .testimonials_carousel.style_9 .testimonial .testimonial-inner .testimonial-info .testimonial-bottom .company {
    color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c044c8a>.elementor-widget-container {
    margin: 40px 0px 40px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c042826 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.elementor-1071 .elementor-element.elementor-element-c043687 .consulting-custom-title {
    font-size: 30px;
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .post_item .post_inner .news_item_title a {
    color: #000000;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .stm_news_unit-block h5 a {
    color: #000000;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .post_item .post_inner .news_item_title a:hover {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .stm_news_unit-block h5 a:hover {
    color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .consulting_posts .post_item .post_inner .news_item_title,
.elementor-1071 .elementor-element.elementor-element-c043ac6 .stm_news_unit-block h5 {
    font-size: 16px;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .consulting_posts .post_item .post_inner .date-wrap {
    background-color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .consulting_posts .post_item:hover .post_inner .date-wrap {
    background-color: #D67E29;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .post_item .news_item_button svg.button_icon {
    width: 20px;
    height: 20px;
}

.elementor-1071 .elementor-element.elementor-element-c043ac6 .post_item .news_item_button i.button_icon {
    font-size: 20px;
}

.elementor-1071 .elementor-element.elementor-element-c044e81,
.elementor-1071 .elementor-element.elementor-element-c044e81>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c044e81 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c044e81>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c04578e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1071 .elementor-element.elementor-element-c04578e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #D67E29;
    background-image: url("https://cvdemo.in/aikya/wp-content/uploads/2024/04/Background.png");
}

.elementor-1071 .elementor-element.elementor-element-c04578e>.elementor-element-populated,
.elementor-1071 .elementor-element.elementor-element-c04578e>.elementor-element-populated>.elementor-background-overlay,
.elementor-1071 .elementor-element.elementor-element-c04578e>.elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}

.elementor-1071 .elementor-element.elementor-element-c04578e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c04578e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-c045ec4 .consulting-custom-title {
    font-size: 30px;
    color: #ffffff;
}

.elementor-1071 .elementor-element.elementor-element-eef21af>.elementor-container {
    max-width: 550px;
}

.elementor-1071 .elementor-element.elementor-element-5e40f34:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1071 .elementor-element.elementor-element-5e40f34>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1071 .elementor-element.elementor-element-5e40f34>.elementor-element-populated,
.elementor-1071 .elementor-element.elementor-element-5e40f34>.elementor-element-populated>.elementor-background-overlay,
.elementor-1071 .elementor-element.elementor-element-5e40f34>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1071 .elementor-element.elementor-element-5e40f34>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 6px 10px 6px 10px;
}

.elementor-1071 .elementor-element.elementor-element-5e40f34>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1071 .elementor-element.elementor-element-f20b3ce .stm_newsletter_form {
    flex-direction: row;
}

.elementor-1071 .elementor-element.elementor-element-f20b3ce .consulting_newsletter_widget button i {
    fill: #5A4AF5;
    color: #5A4AF5;
}

.elementor-1071 .elementor-element.elementor-element-f20b3ce .consulting_newsletter_widget button,
.elementor-1071 .elementor-element.elementor-element-f20b3ce .consulting_newsletter_widget input[type=submit] {
    background-color: #02010100;
}

.elementor-1071 .elementor-element.elementor-element-f20b3ce .consulting_newsletter_widget button {
    padding: 0px 5px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-f20b3ce .consulting_newsletter_widget input[type=submit] {
    padding: 0px 5px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c046a83:not(.elementor-motion-effects-element-type-background),
.elementor-1071 .elementor-element.elementor-element-c046a83>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #2B4B7A;
}

.elementor-1071 .elementor-element.elementor-element-c046a83,
.elementor-1071 .elementor-element.elementor-element-c046a83>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c046a83 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -110px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1071 .elementor-element.elementor-element-c046a83>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(max-width:767px) {
    .elementor-1071 .elementor-element.elementor-element-c025212>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-1071 .elementor-element.elementor-element-c025d89 {
        padding: 30px 10px 10px 10px;
    }
    .elementor-1071 .elementor-element.elementor-element-c029295 img {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c02d918>.elementor-element-populated {
        padding: 35px 0px 0px 0px;
    }
    .elementor-1071 .elementor-element.elementor-element-c0381a3 {
        width: 50%;
    }
    .elementor-1071 .elementor-element.elementor-element-c03878e {
        width: 50%;
    }
    .elementor-1071 .elementor-element.elementor-element-c038db2 {
        width: 50%;
    }
    .elementor-1071 .elementor-element.elementor-element-c039334 {
        width: 50%;
    }
    .elementor-1071 .elementor-element.elementor-element-c04431b>.elementor-element-populated {
        padding: 0px 10px 0px 10px;
    }
}

@media(min-width:768px) {
    .elementor-1071 .elementor-element.elementor-element-c025212 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c026907 {
        width: 55%;
    }
    .elementor-1071 .elementor-element.elementor-element-c028b88 {
        width: 45%;
    }
    .elementor-1071 .elementor-element.elementor-element-c02abc9 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c036fca {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c034edb {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c035d61 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c04431b {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c042fd7 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c04578e {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c0470f8 {
        width: 100%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1071 .elementor-element.elementor-element-c025212 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c026907 {
        width: 50%;
    }
    .elementor-1071 .elementor-element.elementor-element-c028b88 {
        width: 50%;
    }
    .elementor-1071 .elementor-element.elementor-element-c02abc9 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c02d918 {
        width: 66%;
    }
    .elementor-1071 .elementor-element.elementor-element-c036fca {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c0381a3 {
        width: 25%;
    }
    .elementor-1071 .elementor-element.elementor-element-c03878e {
        width: 25%;
    }
    .elementor-1071 .elementor-element.elementor-element-c038db2 {
        width: 25%;
    }
    .elementor-1071 .elementor-element.elementor-element-c039334 {
        width: 25%;
    }
    .elementor-1071 .elementor-element.elementor-element-c034edb {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c035d61 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c04431b {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c042fd7 {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c04578e {
        width: 100%;
    }
    .elementor-1071 .elementor-element.elementor-element-c0470f8 {
        width: 100%;
    }
}